extends ../../layout

block content
  h2 2 Factor Authentication
  p Passwords have a lot of flaws as a security mechanism, lets learn how to improve security with a second form of authentication

  h2 Video - 8 minutes
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/hGRii5f_uSc", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 10 minutes
  ol
    li What is 2 factor authentication needed?
    li What types of scams would 2 factor authentication not protect you from?

  h2 Nice Job!
  p You now know about 2 factor authentication!
