extends ../../layout

block content
  h2 Authentication &amp; Authorization
  p Who are you? What are you allowed to do? Those are the core questions of authentication and authorization respectiively. Let's learn more

  h2 Video - 6 minutes
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/85BBfKo6bdo", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  p HTTP makes it easy to inform a client that they are trying to do something they are not authorized to do, let's learn more
  h2 Video - 4 minutes
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/wM-dCR1ScE0", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 10 minutes
  ol
    li I visit my website without logging in and try to go to the admin page.  Will I encounter an authentication issue or an authorization issue?
    li I try to read the emails for another user, is that an authentication or authorization issue?
    li What HTTP status code represents a authorization issue?

  h2 Nice Job!
  p You now know about authentication &amp; authorization!
