extends ../../layout

block content
  h2 Overview
  p This lesson should take you 15 minutes to complete. It will teach you about binary logic.

  h2 Video - 10 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/1GSjbWt0c9M", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects
  //- todo

  h2 Nice Job!
  p You are now know a little bit about binary.
