extends ../../layout

block content
  h2 Browser Dev Tools
  p This lesson should take you 1 hour to complete. It will teach you about the Chrome browser's developer tools.

  h2 Video - 51 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/x4q86IjJFag", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 10 minutes
  ol
    li Open the network tab in your browser developer tools and refresh the page, what CSS assets were loaded?
    li How can you inspect the name attribute of a form element?

  h2 Nice Job!
  p You are now know a little bit about binary.
