extends ../../layout

block content
  h2 Overview
  p This module should take you 10 minutes to complete. It will teach you the names of some of the key physical components of a computer without going into a lot of detail about how they work.

  h2 Key Terms
  ul
    li CPU
    li RAM
    li Hard Drive
    li Wireless Card / Network Card

  h2 Video Lecture (2min 16s)
  p
    a(target="_blank" href="https://www.youtube.com/watch?v=HB4I2CgkcCo&list=PLpQQipWcxwt-xhJVJs7MCcU-XzWYVsTQt&index=5") Computer Basics: Inside a Computer

  h2 Projects
  p
    em (Remember you can search the internet for answers)

  p 1. What do you think would happen if you tried to store more data on a hard drive then it is capable of holding?
  p 2. Rebooting a computer is one of the most common techniques used to address failures.  What part of a computer is cleared when you do this?
  p 3. How can you perform a "hard reboot"?
