extends ../../layout

block content
  h2 Computer Hardware
  p This lesson should take you 30 minutes to complete. It will teach you the names of some of the key physical components of a computer without going into a lot of detail about how they work.

  h2 Key Terms
  ul
    li CPU
    li RAM
    li Hard Drive
    li Wireless Card / Network Card

  h2 Video Lecture (2min)
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/HB4I2CgkcCo", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 10 min
  p
    em (Remember you can search the internet for answers)
  ol
    li What is a CPU
    li What is memory?
    li What is a hard drive?
    li What do you think would happen if you tried to store more data on a hard drive then it is capable of holding?
    li Rebooting a computer is one of the most common techniques used to address failures.  What part of a computer is cleared when you do this?
    li How can you perform a "hard reboot"?
