extends ../../layout

block content
  h2 CSS
  p This lesson should take you 2 hours to complete. It will teach you the core concepts of how web pages are styled using CSS.
  p Design is a very complex field with many many ideas. A Devops job rarely ever deals with design. When you study this material it should give you a good sense of what is possible and give you the terms you need to talk to people who work in design.  However you don't need to spend a lot of effort becoming great at this type of work.

  h2 Video - 1 hour 30 minutes
  p
    iframe(width="560",height="315", src="https://www.youtube.com/embed/yfoY53QXEnI",title="YouTube video player" frameborder="0",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)

  h2 Projects - 30 minutes
  p Your manager wants you to improve the design of the page you created to process credit card payments.
  p Create a new external stylesheet and link to it from your HTML page.
  p The page body should have a blue background and white font.
  p The form should have a white border around it
  p The submit button should have more space seperating it from the form inputs
  p The submit button should be on the right side of the page instead of the left. Rather then styling the button element directly define a CSS class called .right and give it the property float: right and apply that class to your button

  h2 Nice Job!
  p You now know the basics of CSS!

