extends ../../layout

block content
  h2 DNS &amp; IP
  p DNS is one of the core technologies of the internet.  It is what allows humans to easily remember a name like google.com instead of a cryptic series of numbers known as an IP address. It is also the first Application protocol we will learn. Watch the video below to learn more

  h2 Video - 12 minutes
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/FsGUi5pXpLk", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  p There is one special domain that is used to refer to the computer you are currently accessing called localhost. Let's learn more

  h2 Video - 3 minutes
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/m98GX51T5dI", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 15 min
  ol
    li Is the following IP address valid? 1.2.3
    li Try using a tool called "dig" to resolve Google's domain and see what result you get&nbsp;
      span.terminal dig +short google.com
    li What is a top level domain?
    li What is the IP address for localhost?

  h2 Nice Job!
  p You now know the basics of DNS and IP adddresses!
