extends ../../layout

block content
  h2 Editor
  p This module should take you 15 minutes to complete. It will teach you what a code editor is and how to use one.

  p When you are working in the technology field a big part of your day will be spent making changes to different files. One of the best tools to help you make those file changes is a code editor called VS Code. Watch the video below to get a quick 5 minute introduction&nbsp;
    a(target="_blank" href="https://code.visualstudio.com/docs/introvideos/basics") Intro to VS Code

  h2 Projects
  p 1. Create a file named hello.js
  p 2. Create a file named goodbye.rb
  p 3. Open the hello.js file by pressing cmd + p and typing in the file name and pressing enter.
  p 4. Add the following "code" into your hello.js file: &nbsp;
    span.javascript console.log("hello")
  p 5. Did you notice the colors changing in the editor? That is one of the things that makes the editor so helpful. Try adding the the following to your goodbye.rb file: &nbsp;
    span.ruby puts "hello"
  p 6. Search for the word hello in the contents of all of your files
