extends ../../layout

block content
  h2 File Permissions
  p This lesson should take you 30 minutes to complete. It will teach the difference between the read, write, and execute permissions.  It will also show you how to inspect the permissions on existing files both for your active user and for groups and other users of the system.

  h2 Video - 17 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/T269zebUSj8", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ,allowfullscreen)

  h2 Projects - 15 min
  ol
    li Explain what the following permissions string would mean
      span.terminal - rw- r-- r--
    li If you get permission denied attempting to cd in to a directory what permission might be missing?
    li What command would use to add the execute permission to a file called myscript.sh?

  h2 Nice Job!
  p You now know the basics of file permissions!
