extends ../../layout

block content
  h2 Git Internals
  p One of the mistakes that a beginner in computing often makes is thinking that they are an expert in some topic because they know a little bit about it. For example you have learned a little bit about git but you are no expert. Lets start to see what an expert might be able to tell us about how git functions.

  h2 Video - 30 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/P6jD966jzlk", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 30 min
  ol
    li What is a git sha?
    li Where does git store objects?

  h2 Nice Job!
  p You are now using the power of the editor, the terminal, and git together! Keep it up!
