extends ../../layout

block content
  h2 HTML
  p This lesson should take you 3 hours to complete. It will teach you the core concepts of how web pages are displayed using HTML. Since this is a pretty long lesson you will want to pause the video a few times to take short breaks, stand up, and stretch. Write down a few thoughts you have about HTML during your breaks too.

  h2 Video - 2 hours
  p
    iframe(width="560",height="315", src="https://www.youtube.com/embed/pQN-pnXPaVg",title="YouTube video player" frameborder="0",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)

  h2 Projects - 1 hour
  p Your manager wants you to make a page to process credit card payments. It should have a form to collect 4 fields
  ul
    li Name
    li CC Number
    li Expiration Date
    li CVV
  p It should also have a submit button which she wants to be green with white font
  p When the form is submitted it should send the data to the backend team at /payments
  p.hint You might have to ask your mentor what shape the data should be in for the backend.

  h2 Nice Job!
  p You now know the basics of HTML!

