extends ../../layout

block content
  h2 HTTP
  p HTTP is the core protocol used by all browsers on the world wide web! Let's learn basics

  h2 Video - 18min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/wW2A5SZ3GkI", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  p Now lets see how we can use HTTP to fetch data from a web service (aka a web API)

  h2 Video - 18min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/FAnuh0_BU4c", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 20 min
  ol
    li What is a status code
    li What does a 200 status code mean?
    li What does a 500 status code mean?
    li What are headers?
    li What is the request body?
    li What is the response body?

  h2 Nice Job!
  p You now know the basics of HTTP!

