extends ../../layout

block content
  h2 Internationalization (i18n)
  p There are a lot of assumtions that an English speaker or an American can make which turn out not to be true in the rest of the world.  Let's learn a bit about designing software for global audiences

  h2 Video - 20 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/TW17O4j_qBM", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ,allowfullscreen)

  h2 Projects - 10 min
  ol
    li What are 3 types of display elements which might change in international contexts?
    li How many languages would you guess are spoken in America?
    li What is the benefit of designing for a global audience?

  h2 Nice Job!
  p You now know the basics of i18n!
