extends ../../layout

block content
  h2 Ready, Set, Go!
  p By the time you are done with this section you will be comfortable with the core tools you need for all future lessons.

  ol
    li
      a(href="/modules/1/editor") Editor - 30 minutes
    li
      a(href="/modules/1/terminal") Terminal - 30 minutes
    li
      a.advice(href="/advice/cookies") Kids &amp; Cookies -- 30 min
    li
      a(href="/modules/1/git") Git -- 2 hours
    li
      a(href="/modules/1/programs") Programs -- 2 hours
    li
      a(href="/modules/1/vim") vim -- 30 minutess
    li
      a(href="/modules/1/configs") Configs -- 2 hours
    li
      a(href="/modules/1/programs") Package Manager -- 30 minutes
    li
      a(href="/modules/1/operating-systems") Operating Systems
    li
      a(href="/modules/1/computer-hardware") Computer Hardware
    li
      a(href="/modules/1/internet") Internet -- 2 hours
    li
      a(href="/modules/1/web") Web -- 3 hours






