extends ../../layout

block content
  ol
    li
      a(href="/modules/1/editor") Editor
    li
      a(href="/modules/1/terminal") Terminal
    li
      a(href="/modules/1/git") Git
    li
      a(href="/modules/1/computer-hardware") Computer Hardware
    li
      a(href="/modules/1/operating-systems") Operating Systems
    li
      a(href="/modules/1/programs") Programs


