
extends ../../layout

block content
  ol
    li
      a(href="/modules/1/computer-components") Computer Components
    li
      a(href="/modules/1/operating-systems") Operating Systems
    li
      a(href="/modules/terminal/index") Editor
    li
      a(href="/modules/terminal/index.html") Computer Components
