extends ../../layout

block content
  h2 Jade aka Pug
  p This lesson should take you 30 minutes to complete. It will teach you the core concepts of how HTML can be generated more easily using jade. While jade is not a core skill for you to learn the tool is used in this repo so you are learning the basics so you can easily read the repo contents and understand how to edit the templates correctly.

  h2 Video - 15 minutes
  p
    iframe(width="560",height="315", src="https://www.youtube.com/embed/leilVbK0xQc",title="YouTube video player" frameborder="0",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)

  h2 Projects - 15 minutes
  p Add some new HTML to your terms.jade and skills.jade files

  h2 Nice Job!
  p You now know the basics of Jade!
