extends ../../layout

block content
  h2 Memory
  p Memory aka Random Access Memory (RAM) holds all the data the CPU wants to have quick access to. If the computer is turned off its contents won't be persisted. Much like the CPU video, you don't need to understand all of the types of RAM in this next video like .

  h2 Video Lecture (9 min)
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/lEC6iggFuUc", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Key Terms
  ul
    li Clock Speed
    li GB Capacity
    li Volatile
    li Failure

  h2 Projects - 5 min
  ol
    li What could happen to a program if memory got corrupted?
    li Today how are most manufactures addressing heat issues with their memory chip, a metal heat shield or using lower voltage?
    li Where does memory load data from when the computer starts up?

  h2 Nice Job!
  p You are now know a little bit about RAM.


