extends ../../layout

block content
  h2 Networking
  p Computers are a lot more valuable when they can talk to each other. How is this communication possible? What are the core technologies involved? Let's find out!

  h2 Video Lecture (9 min)
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/3QhU9jd03a0", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 12 min
  ol
    li When were computers first networked together?
    li What is the difference between ethernet and wifi?
    li If two computers collide when sending info how can the computer solve that problem?
    li What is expoential backoff?
    li How much valuable data is transmitted when data collides?
    li What does it mean to chop up a message into packets?
    li What is packet switching?
    li What was the worlds first packet switched network?

  h2 Nice Job!
  p You are now know a little bit about networking.


