extends ../../layout

block content
  h2 Overview
  p This lesson should take you 10 minutes to complete. It will teach you what Operating Systems manage and where you can find them.

  h2 Video - 4 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/GjNp0bBrjmU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 10 min
  p.hint You might need to Google some of the answers
  ol
    li What do operating systems manage?
    li What are some different popular operating systems today?
    li Why do we need a program to schedule other programs instead of a human?

  h2 Nice Job!
  p You are now know a little bit about OSs.
