extends ../../layout

block content
  h2 Overview
  p This module should take you 10 minutes to complete. It will teach you what Operating Systems manage and where you can find them.

  h2 Key Terms
  ul
    li Programs
    li Command Line
    li Operating System

  h2 Key Skills

  h2 Video Lecture (1 min 37s)
  p
    a(target="_blank" href="https://www.youtube.com/watch?v=RhHMgkUdhdk") How Do Operating Systems Work?

  h2 Projects
  p 1. What do operating systems manage?
  p 2. In addition to phones and laptops where else can you find operating systems?
