extends ../../layout

block content
  h2 pipe |
  p Pipes which are written with the | character are a mechanism to pass information from one program to another.  They have been around since the 1960s and are still widely used today! Let's learn more about the history

  h2 Video - 5 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/bKzonnwoR2I", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Video - 8 min
  p Now lets see pipes in action!
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/oyc_6UfoW3w", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 15 min
  ol
    li If you run 3 commands in a pipeline does the order of the command matter?
      span.terminal cmd1 | cmd2 | cmd3
    li Pipe the contents of ls into a program called less

  h2 Nice Job!
  p You now know the basics of using pipes!
