extends ../../layout

block content
  h2 Protocols
  p You have now learned DNS &amp; HTTP which are both protocols. What is a protocol?

  h2 Video - 5min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/fK7oAc_V-Kk", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 5 min
  ol
    li What are the two things a protocol has to define?
    li If computer 1 sends a HTTP request to computer two and it responds back with "I am busy" would computer 2 be following the HTTP protocol?

  h2 Nice Job!
  p You now know what a protocol is!
