extends ../../layout

block content
  h2 SSH
  p Why do we need SSH? Humans have a need to connect to computers that are not close to them! Learn more below

  h2 Video - 1 hour 15 minutes
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/YS5Zh7KExvE", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  h2 Video - 5 minutes
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/Z3ELWci34cM", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 20 minutes
  ol
    li What are 3 ways you can authenticate with SSH?
    li What folder are your ssh keys stored in?
    li Generate a SSH key for your user
    li Add your SSH key to your Github account

  h2 Nice Job!
  p You now know about ssh clients, the ssh server daemon program, and how to generate your own keys!
