extends ../../layout

block content
  h2 Stackoverflow
  p One of the best communities in coding to get help when you are working on a problem is Stackoverflow.  Let's learn a bit about how to use that website to get help.

  h2 Video - 9 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/sMIslcynm0Q", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ,allowfullscreen)

  h2 Nice Job!
  p Create an account on stackoverflow and ask your first question when you get stuck working on a project!
