extends ../../layout

block content
  h2 Sudo &amp; Root User
  p Some files on a computer are critical to system funcationality and therefore it is risky to enable any user to edit them or even remove them.  The root user is the user with all the privileges on the system and the sudo command allows a normal user to temporarily gain elevated permissions like the root user has. Let's learn more

  h2 Video - 9 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/x9oQrc7YmAM", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 15 min
  ol
    li What is the relationship between the root of the file system and the username root?
    li Why shouldn't users always be the root user?
    li How do you list out the contents of a protected folder e.g. /root?
    li How do you stop your elevated privileges when you are done with them?
    li How can you re-run a command you just ran with sudo?

  h2 Nice Job!
  p You now know the basics of using sudo!
