extends ../../layout

block content
  h2 Terminal
  p This module will be a bit harder then the last one. You do not need to understand everything on the first try! We will circle back to the concepts in this video many times. It will teach you what a terminal is and how to use one.

  p You are probably used to interacting with computers using point and click or tap based interfaces (like a cell phone). You might not know that there is another way to interact with computers that is much more flexible so it is used by professionals, the terminal. In the video below Jesse is using a Mac computer but the concepts work on your computer too &nbsp;
    a(target="_blank" href="https://www.youtube.com/watch?v=5XgBd6rjuDQ") Intro to terminal

  h2 Projects
  p 1. Make a folder (aka directory) called my-first-folder
  p 2. Create a file named first-file.txt inside of your folder
  p 3. Remove the directory named my-first-folder
  p 4. Create the folder again, but instead of typing the command use the arrow keys to re-run the command you ran in step 1
  p 5. List out all the folders from where you are in the filesystem right now.
