extends ../../layout

block content
  h2 Overview
  p This lesson should take you 15 minutes to complete. It will teach you about URLs.

  h2 Video - 10 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/5Jr-_Za5yQM", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 5 minutes
  ol
    li What is a scheme?
    li What is a subdomain
    li What is a top level domain?
    li What is a query string?
    li What is an anchor?
    li What is a port?

  h2 Nice Job!
  p You are now know a little bit about binary.
