extends ../../layout

block content
  h2 vim
  p This lesson should take you 30 minutes to complete. It will teach you what a command line text editor is and how to use vim.

  p Sometimes you need to inspect files on a server in the cloud and there is not an entire graphical interface where you could use something like VS Code.  Command line text editors are usually available and you can use them in a wide range of cases to quickly inspect or edit a file.  Let's learn more.

  h2 Video - 9 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/ggSyF1SVFr4", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ,allowfullscreen)

  h2 Projects - 20 min
  ol
    li Create a file using vim and save it with the name hello.txt
    li Change from command mode to insert mode and type the following inside the file: hi, hit, bit, high
    li Exit insert mode and then save and quit the file
    li Open the file back up and replace every occurance of "hi" with "wi" by using the substitute command
    li Undo your last change using the undo shortcut
    li Delete the line of text with the delete command
    li Exit the file without saving your changes

  h2 Nice Job!
  p You now know the basics of how to use vim. It is a very powerful editor but you can go a long with with just knowing a few tricks.
