extends ../layout

block content
  h2 Downsides to Tech
  p Not everything about working in tech is great.  People feel pressure to always be learning new skills and if you aren't careful that can lead you to burn out. Watch what Gyasi has to say about this

  p
    iframe(width="1120",height="630",src="https://www.youtube.com/embed/Ws6zCMdp9Es",title="YouTube video player",frameborder="0",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)
