extends ../layout

block content
  h2 Focus
  p Focus is a finite resource - as you learn your brain will  get tired. When you are tired you will have a much harder time learning new skills. If you notice yourself feeling worn down here are some ideas to give your brain a break: take a walk, eat a snack, do a meditation, stretch, or practice an easier skill. Save the hardest lessons for when you are feeling your best.
