extends ../layout

block content
  h2 Note Taking
  p Taking high quality notes is one of the most important things you can do as your go through this course. The act of recording your thoughts in your own words helps you understand the material better. Also, you will need to come back to your notes in the future to remember things you have forgotten. Watch the video below for some more advice on how to take great notes

  p
    iframe(width="560",height="315",src="https://www.youtube.com/embed/E7CwqNHn_Ns",title="YouTube video player",frameborder="0",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

  p Your fork of this repo on Github is a great place for you to store your notes. Spend 15 minutes right now adding terms from the previous lessons to the terms.jade file and defining those terms in a way that makes sense to you.

  p In addition to terms, you are also learning skills (workflows that allow you to perform some action). Add a few skills to the skills.jade page. Example skills might be: how to find a file by its name quickly with your editor or how to create a new branch with git.

  p.hint Don't forget to keep adding ✅ to sections as you complete them!
