extends ../layout

block content
  h2 Posture &amp; Stretches
  p When you spend a lot of time working at a computer it actually buts a lot of strain on your body. Watch the below to learn how you can minimize that with good posture and equipment placement
  p
    iframe(width="560",height="315",src="https://www.youtube.com/embed/x12GnuV9Qgw",title="YouTube video player",frameborder="0",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

  p One way to counter balance the physical strain of working at a computer is to do a bit of yoga.  It also helps improve your focus and energy. Try out the stretches in the video below which are easy to do at your desk
  p
    iframe(width="560",height="315",src="https://www.youtube.com/embed/tAUf7aajBWE",title="YouTube video player",frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
