extends ../../layout

block content
  h2 Syntax
  p Every programming language has the idea of&nbsp;
    span.term syntax
    span &nbsp;which means the rules that control the structure of the symbols, punctuation, and words of a programming language. Let's learn more about the idea of syntax, in the next video the author is talking about Javascript but everything he says is relevant to BASH too

  h2 Video - 4min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/ZhJcd_E7A_M", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  p As you learn BASH you will notice there are specific times to use special&nbsp;
    span.term reserved words
    span &nbsp; like if, fi, else do, for (and more)
  p You will also notice patterns for when to use chacters like { } or () or even $
  p Some of these characters can be used in multiple different ways, for example { } when you are defining a function is different then { } when you are doing brace expansion.
  p Lastly all these rules can be totally different in different langauges so when we later learn Javascript you will get to learn a new set of rules for that langague.
  p At first all the rules will seem hard and confusing but through practice you will find that you tend to use the same patterns again and again and again until they feel natural.

  h2 Projects - 20 min
  ol
    li What does syntax mean for a coding language?
    li Are computer programs good at dealing with typos?
    li List out all the reserved words with&nbsp;
      span.terminal compgen -k
    li Try out the following command in your terminal and try to explain what it seems to do
      span.terminal echo begining{1,2,3}ending

  h2 Nice Job!
  p You now know the difference between the terminal and shell.


<iframe width="560" height="315" src="https://www.youtube.com/embed/ZhJcd_E7A_M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
