extends ../../layout

block content
  h2 50 Commmands
  p Now that you are comfortable with the BASH language its time to learn many of the commands it offers which you might end up using to build more complex programs or perform daily operations

  h2 Video - 5 hours
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/ZtqBQ68cfJc", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 1 hour
  ol
    li Write your own definition for each of the 50 commands in the video

  h2 Nice Job!
  p You now know 50 key commands you can use in BASH

