extends ../../layout

block content
  h2 What are Variables? - 11 min
  p Variables are like boxes that can hold a value so you can use the value somewhere else in your program. Watch the video below to learn more

  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/ghCbURMWBD8", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  p In the next video you will learn some of the rules and conventions that BASH has for variable names. You will also learn how to use the variable value in your program. Notice that in BASH variables are often used without specifying a data type

  h2 BASH variables - 11 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/WhqfbwQbWVE", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 20 min
  ol
    li Create a script file called city.sh and make sure you give that file permissions to execute
    li In your script create a variable called CITY and have your script output&nbsp;
    span.terminal Hello from, &lt;city&gt;
    li What data type does a bash variable have by default if you don't declare a data type?


  h2 Nice Job!
  p You are now what a variable is and how to use one!
