extends ../../layout

block content
  h2 Data Types
  p Most languages have a few of the same core data types: booleans, strings, integers, and arrays.  Let's learn more about what these mean

  h2 Video - 7 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/qw3j0A3DIzQ", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  p Once you have these basic building blocks how do you start to combine them together? For example doing addition and subtraction on numbers. Combining words together to make longer sentences. These operations are performed with&nbsp;
    span.term operators
    span &nbsp;if you make a mistake using these operators in invalid ways you will see&nbsp;
    span.term errors
    span &nbsp;. Let's learn more.

  h2 Video - 4 min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/A37-3lflh8I", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 20 min
  ol
    li What is a string?
    li What is a bool?
    li What is a char?
    li What is an int?
    li What is a float?
    li What is an array?


  h2 Nice Job!
  p You wrote your first BASH script!

