extends ../../layout

block content
  h2 Terminal
  p BASH is a language that you can write instructions in, but what is the black box you see where you are writing those instructions? That is known as a terminal! Let's watch two people explain the difference between the terminal and shell

  h2 Video - 4min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/KTEcZJ9Dcb8", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Video - 11min
  p
    iframe(width="1120",height="630", src="https://www.youtube.com/embed/hMSByvFHOro", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

  h2 Projects - 20 min
  ol
    li In addition to writing BASH commands in a file and executing that file where else can you run a BASH command?
    li What is the difference between a shell and a terminal?
    li What is a command prompt?
    li Change the command prompt to say
      span.terminal hi!
    li Close the terminal and re-open it. Did your change to the command prompt stick around?
    li If you want to customize your shell every time it starts up what file could you put your customizations in?

  h2 Nice Job!
  p You now know the difference between the terminal and shell.
