extends ../../layout

block content
  p Now that you have a good grip on the fundamentals its time to learn
    b &nbsp;programing&nbsp;
    span  which means learning to write instructions that computers can follow.  You will learn two languages BASH and JavaScript.
  h2 BASH
  p Comprehensive terminal intro
    a(target="_blank" href="https://www.youtube.com/watch?v=oxuRxtrO2Ag") Intro to terminal
  h2 Javascript
