extends layout

block content
  h1 Advice
  ol
    li
      b Focus is a finite resource&nbsp;
      | - as you learn your brain will  get tired. When you are tired you will have a much harder time learning new skills. If you notice yourself feeling worn down here are some ideas to give your brain a break: take a walk, eat a snack, do a meditation, stretch, or practice an easier skill. Save the hardest lessons for when you are feeling your best.

    li
      b Remind yourself why you started this journey&nbsp;
      | - it will take you many many hours to learn the skills in this program. In that time it is easy to loose your momentum and get off the path. If you really want to reach your destination, keep reminding yourself why you started. That will help you stay on the path!
