extends layout

block content
  h1 Advice
  ol
    li
      a(href="/advice/posture") Posture
    li
      a(href="/advice/focus") Focus
    li
      a(href="/advice/note-taking") Note Taking
    li
      a(href="/advice/downsides") Downsides to Tech
