extends layout

block content
  div.welcome
    h1 Welcome to Cabrini-Green Devops!!
    p Before you begin, there are two pieces of advice I would like to share with you.

    ol
      li
        b Focus is a finite resource&nbsp;
        | - as you learn your brain will  get tired. When you are tired you will have a much harder time learning new skills. If you notice yourself feeling worn down here are some ideas to give your brain a break: take a walk, eat a snack, do a meditation, stretch, or practice an easier skill. Save the hardest lessons for when you are feeling your best.

      li
        b Remind yourself why you started this journey&nbsp;
        | - it will take you many many hours to learn the skills in this program. In that time it is easy to loose your momentum and get off the path. If you really want to reach your destination, keep reminding yourself why you started. That will help you stay on the path!

    h2 Your Next 12 Months
    p Each of the following sections will take you approximately 1 month to complete.  Some sections might be quicker for you and some sections might require extra time, that is fine! The skills tend to build on each other but it is possible to swap the order of some of them around.

    h3
      a(href="/modules/1/index") Section 1 - Fundamentals
    p In this section you will be introduced to some of the most fundamental ideas in computing. It will also introduce some useful tools which you will need for all future sections.
    h3
      a(href="/modules/2/index") Section 2 - Languages
    p In the 1970s BASH shell scripting was invented as an easy way to create useful computer programs and it is still a super important skill to the day. In the 1990s Javascript was created as a langague that would be embedded with every web browser.
    h3
      a(href="/modules/3/index") Section 3 - Linux
    p In early 1990s a new operating system, Linux, entered the market and changed computing forever.
    h3
      a(href="/modules/4/index") Section 4 - Databases
    p In the early 1970s companies recognized the power of storing information digitally and ever since then people have been building new and better ways to store and access data.
    h3
      a(href="/modules/5/index") Section 5 - Web Apps
    p In late 1990s websites were finally going mainstream. Today web apps are a core foundation of the global economy much like food and energy.
    h3
      a(href="/modules/6/index") Section 6 - Networking
    p In the early 1970s people around the global were trying to share information with each other faster. Wiring computers together so they can communicate quickly gave rise to the field of computer networking which is just as critical today as it was then.
    h3
      a(href="/modules/7/index") Section 7 - Containers
    p In the mid 2000s people started working on ways to operate software similar to how frieght carriers treat goods, as standardized boxes that one set of tools can manage. This idea has caught fire and is extermely popular today.
    h3
      a(href="/modules/8/index") Section 8 - Cloud
    p Amazon, Google, Microsoft and other major tech companies make billions of dollars every year operating datacenters that other companies can use. Knowing how to use the cloud services is a very in-demand skill.
    h3
      a(href="/modules/9/index") Section 9 - Kubernetes
    p Building off your knowledge of containers, Kubernetes is a technology that helps operate large numbers of containers in a secure and predictable way.
    h3
      a(href="/modules/10/index") Section 10 - Infrastructure as Code
    p Building off your knowledge of the cloud tools like Terraform hel companies follow the best practice fo defining their infrastructure as code.
    h3
      a(href="/modules/11/index") Section 11 - Observability
    p Logs, metrics, and traces are the core idea you must know to support production systems.
    h3
      a(href="/modules/12/index") Section 12 - Software Collaboration
    p Github is one of the most popular websites for software engineers and companies. You should be familar with how to collaborate with others using that tool and other project management tools.

    script(type="application/javascript")
      | document.querySelectorAll(".back").forEach((e) => e.remove())
