extends layout

block content
  h2 Section 0 - Introduction
  p Before you begin on this journey there are two pieces of advice I would like to share with you which will make you successful:
  p
    em Google Questions
    | - Technology professionals encounter problems every day, often multiple times per day, that they have no idea how to solve. Through sheer determination they manage to solve these problems because they believe they can find the answers they need. Over time you too will improve your ability to find answers on your own by searching on the internet. Don't be afraid to try it! Of course a wise teacher can also help you as well, so please ask for help whenever you need it.
    em Work Hard & Have Fun -
    | If you don't work hard you won't acquire the skills you need. If you aren't having fun you will grow tired and give up on this journey. The people who are successful are the people who put in the time and enjoy doing it.



  h2 Section 1 - Fundamentals
  p In this section you will be introduced to some of the most fundamental ideas in computing. It will also introduce some useful tools which you will need for all future sections.

  ol
    li
      a(href="/modules/1/computer-components") Computer Components
    li
      a(href="/modules/1/operating-systems") Operating Systems
    li
      a(href="/modules/terminal/index") Editor
    li
      a(href="/modules/terminal/index.html") Computer Components


  h2 Section 2 - Bash
  h2 Section 3 - Linux
  h2 Section 4 - Web Apps
  h2 Section 5 - Databases
  h2 Section 6 - Networking
  h2 Section 7 - Containers
  h2 Section 8 - Cloud
  h2 Section 9 - Kubernetes
  h2 Section 10 - Terraform
  h2 Section 11 - Github
  h2 Section 12 - Prometheus


