doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap", rel="stylesheet")
  body
    nav
      a(href="/") Home&nbsp;
      a(href="/skills") / Skills&nbsp;
      a(href="/terms") / Terms&nbsp;
      a(href="/prereqs") / Prereqs&nbsp;

    div.main
      block content
