doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href="/") Home&nbsp;
      a(href="/skills") / Skills&nbsp;
      a(href="/terms") / Terms&nbsp;
      a(href="/prereqs") / Prereqs&nbsp;

    div.main
      block content
