doctype html
html
  head
    meta(charset="utf-8")
    meta(content="IE=Edge,chrome=1",http-equiv="X-UA-Compatible")
    meta(name="viewport",content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap", rel="stylesheet")
  body
    nav
      span
        a(href="/") Cabrini-Green Devops
      a(href="/skills") Skills
      a(href="/terms") Terms
      a(href="/advice") Advice
      a(href="/prereqs") Prereqs
      a(href="/roadmap") Roadmap

    div.main
      p
        a.back(href="javascript:history.back()") Back
      block content
      p
        a.back(href="javascript:history.back()") Back
