extends layout

block content
  h1 Create Accounts
  p You will need to sign up for a number of free services to complete this entire course. A few to start with though are

  ol
    li Create a&nbsp;
      a(target="blank", href="https://www.google.com/gmail/about/") Gmail account
      span &nbsp;it is conventional for your email address to include your name and look professional.
      p Good: jane.doe@gmail.com
      p Not Ideal: supercool@gmail.com
    li Create a&nbsp;
      a(target="blank", href="https://github.com/") Github account

  h1 Install Software
  p You will need to install many pieces of software to complete this entire course. A few to start with though are
  ol
    li Install&nbsp;
      a(target="blank", href="https://code.visualstudio.com/download") VSCode
    li Install&nbsp;
      a(target="blank", href="https://www.google.com/chrome/downloads/") Chrome
    li Install&nbsp;
      a(target="blank", href="https://git-scm.com/downloads") Git
    li Install&nbsp;
      a(target="blank", href="https://nodejs.org/en/download/") Nodejs


