extends layout

block content
  h1 Create Accounts
  ol
    li Create Gmail account
    li Create Github account
    li Create Heroku account

  h1 Install Software
  ol
    li Install VSCode
    li Install Chrome
    li Install Git
