extends layout

block content
  h2 Create Accounts
  p You will need to sign up for a number of free services to complete this entire course. A few to start with though are

  ol
    li Create a&nbsp;
      a(target="blank", href="https://www.google.com/gmail/about/") Gmail account
      span &nbsp;it is conventional for your email address to include your name and look professional.
      p Good: jane.doe@gmail.com
      p Not Ideal: supercool@gmail.com
    li Create a&nbsp;
      a(target="blank", href="https://github.com/") Github account

  h2 Install Software
  p You will need to install many pieces of software to complete this entire course. A few to start with though are
  ol
    li Install&nbsp;
      a(target="blank", href="https://code.visualstudio.com/download") VSCode
    li Install&nbsp;
      a(target="blank", href="https://www.google.com/chrome/downloads/") Chrome
    li Install&nbsp;
      a(target="blank", href="https://git-scm.com/downloads") Git
    li Install&nbsp;
      a(target="blank", href="https://nodejs.org/en/download/") Nodejs

  h2 Set Schedule
  p Work with your mentor to establish what days and what times you will come in and learn!
  p.hint When you are learning on your own write down any questions you have or ideas you are confused about. Part of your schedule will be setting up time to talk with your mentor about those things!

  h2 Set Goals
  p Define what you want to achieve and when you hope to achieve it by

  h2 Get Started
  a(href="/modules/1/index") section 1


