extends layout

block content
  h2 Your Advice
  p Fill out this section with more tips and tricks you discover during your learning

  p
    b Search with Google
    | - Technology professionals encounter problems every day, often multiple times per day, that they have no idea how to solve. Through sheer determination they manage to solve these problems because they believe they can find the answers they need. Over time you too will improve your ability to find answers on your own by searching on the internet. Don't be afraid to try it! Of course a wise teacher can also help you as well, so please ask for help whenever you need it.

  p
    b Reboot the computer
    | - You would be shocked at how many issues this fixes
