extends layout

block content
  h2 Your Dictionary
  p Fill out this section with more terms you discover during your learning

  dl
    dt Git
    dd A version control system that helps track changes to a project over time and enable collaboration between multiple people.

    dt Terminal
    //- delete this comment and all the lines below and replace them with your own terms and definitinos
    //- Example:
    //- dd Blah blah blah
    dd.hint Fill out your own description here.

    //- note the indentation, this jade file requires you to put 4 spaces before the dt and 4 spaces before the dd and each goes on its own line
    dt Example Term
    dd Example Definition
