extends layout

block content
  h2 Your Dictionary
  p Fill out this section with more terms you discover during your learning

  ul
    li
      b Program
    li
      b Terminal / Command Line
    li
      b Operating System
    li
      b CPU
    li
      b RAM
    li
      b Hard Drive
    li
      b Network Card

