body {
  background-color: white;
  color: #1d2b1d;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  margin: 0em;
  line-height: 1.4em;
}

dt, .term {
  color: green;
  font-weight: bold;
}

li {
  margin: 1em;
}

a:visited, a, h1, h2, h3, b {
  color: green;
}

nav {
  background-color: green;
}

nav span a {
  font-weight: bold;
  display: inline-block;
  float: none;
}

nav a, nav a:visited {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  float: right;
}

nav a:hover {
  background-color: grey;
}

.main {
  margin: 0em 3em;
}

.terminal {
  border-radius: .5em;
  padding: 1em;
  display: block;
  width: 100%;
  background-color: black;
  color: white;
}

.terminal p {
  margin: 0
}

.code {
  padding: 0.5em;
  color: white;
  background-color: #1d2b1d;
  font-style: italic;
}

.shortcut, .file-name, .folder-name, .url, .italic {
  font-style: italic;
}

.bold {
  font-style: bold;
}

.welcome a {
  text-decoration: none;
}

.hint {
  padding: 1em;
  font-style: italic;
  border: 4px solid rgb(241, 190, 21);
}

.advice {
  color: rgb(0, 72, 179);
}
